body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.navBar {
  background: #000;
  padding: 20px;
  .navBarItem {
    color: #ffa500;
    padding: 10px;
    text-decoration: none;
    &:hover {
      background: darkviolet;
      cursor: pointer;
      border-radius: 5%;
    }
  }
}
