body {
  background: #d3d3d3;
}
.navBar {
  background: #000;
  padding: 20px;
  .navBarItem {
    color: #ffa500;
    padding: 10px;
    text-decoration: none;
    &:hover {
      background: darkviolet;
      cursor: pointer;
      border-radius: 5%;
    }
  }
}
