.editUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 100px;

}

.lowerContentWrapper {
  margin-top: 20px;

  .postHeader {
    display: flex;
    align-items: center;
    justify-content: center;

  }

}


